:root {
  --color-01: #A66742;
  --color-02: #FFBE99;
  --color-03: #F3A67A;
  --color-04: #32A6A5;
  --color-05: #79F2F2;
  --color-06: #4F4BA6;
  --color-07: #0c3866;
  --color-dark: #3f3d56;
  --color-dark-1: #1e1d29;
  --color-light: #F2F5F4;
  --color-bw-01: #F2F2F2;
  --color-bw-02: #A6A6A6;
  --color-bw-03: #595959;
  --color-bw-04: #262626;
  --color-bw-05: #0D0D0D;
  --react-color: #00d8ff;
  --vue-color: #42b883;
  --angular-color: #b52e31;
}

.btn {
  display: inline-block;
  padding: 6px 14px;
  background: #f2f2f2;
  border-radius: 3px;
  color: #7a7a7a;
  font-size: 0.8125em;
  transition: background 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.btn:hover {
  background: #e5e5e5;
  color: #929797;
}

.btn.btn-primary {
  background: var(--color-06);
  color: rgba(255, 255, 255, .9);
}

.btn.btn-primary:hover,
.btn.btn-primary.active {
  background: rgb(95, 91, 180);
}

.btn.btn-large {
  padding: 12px 28px;
}

.btn.btn-caps {
  text-transform: uppercase;
}

.btn.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #cfcfcf;
  background: #ebebeb;
  height: 28px;
  font-size: 0.75em;
  padding: 5px;
  outline: none;
  border-radius: 3px;
  margin-bottom: 7px;
  transition: background 0.3s ease;
}

input[type="text"]:focus {
  background: #f0f0f0;
}

.checkbox {
  color: #ccc;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .4);
  font-size: 0.6875em;
  margin-bottom: 7px;
  display: inline-block;
}

.box {
  background: #f9f9f9;
  box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .1);
  border-radius: 5px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.box h2 {
  color: var(--color-06);
  font-size: 0.875em;
}

.box p {
  font-size: 0.75em;
  color: var(--color-bw-03);
}

.locations {
  padding: 30px;
  text-align: center;
}

.locations .avatar {
  border-radius: 50%;
  overflow: hidden;
}

.locations .avatar img {
  width: 100%;
  border-radius: 50%;
}

.locations .details {
  margin-top: 30px;
}

.locations .btn {
  margin-top: 30px;
}

.calendar {
  text-align: center;
}

.calendar .header {
  padding: 10px 0;
}

.calendar [class*="icon-"] {
  color: var(--color-06);
  position: relative;
  top: 2px;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}

.calendar .days {
  background: var(--color-06);
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.calendar .days ul {
  margin: 0;
  padding: 0;
}

.calendar .days li {
  display: inline-block;
  color: var(--color-light);
  padding: 5px 0;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .calendar .days li {
    width: 20px;
    height: 20px;
  }
}

.calendar .days li.next,
.calendar .days li.previous {
  color: #00000057;
}

.calendar .days li.tomorow {
  background-color: #00000034;
  border-radius: 25px;
}

.weather .header {
  border-radius: 5px 5px 0 0;
  padding: 20px 0;
  background: var(--color-06);
  text-align: center;
  color: var(--color-light);
  font-size: 3.125em;
}

.weather [class*="icon-"] {
  position: relative;
  top: 2px;
}

.weather article {
  text-align: center;
  padding: 5px 0;
}

.post img {
  border-radius: 5px 5px 0 0;
}

.post .details {
  padding: 10px 20px;
}

.post .details p {
  line-height: 1.5em;
}

.audio {
  position: relative;
  height: 120px;
}

.audio .image {
  position: absolute;
  top: 0;
  left: 0;
}

.audio .image img {
  border-radius: 5px 0 0 5px;
}

.audio .details {
  padding: 10px 0;
  margin-left: 140px;
}

.audio .actions {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.audio .actions .btn {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  margin-left: 5px;
  padding: 5px 6px;
  color: var(--color-light);
}

.audio .player .bar {
  margin: 30px 0 0;
  height: 4px;
  background: var(--color-bw-01);
  width: 60%;
  border-radius: 2px;
}

.audio .player .bar .progress {
  width: 45%;
  background: var(--color-06);
  border-radius: 2px;
  height: 4px;
  position: relative;
}

.audio .player .bar .progress:before {
  content: attr(data-time);
  background: var(--color-06);
  display: inline;
  position: absolute;
  font-size: 0.6875em;
  color: var(--color-light);
  padding: 4px 6px;
  border-radius: 3px;
  right: -14px;
  bottom: 9px;
}

.audio .player .bar .progress:after {
  content: '';
  border: 5px solid transparent;
  border-top: 5px solid var(--color-06);
  position: absolute;
  right: -3px;
  bottom: 0px;
}

.find {
  padding: 10px;
}